
// color
$base-light:#fff;
$base-dark:#000;

$primary-1:#013157;
$primary-2:#075da2;
$primary-3:#1b7fd0;
$primary-4:#caddea;

$order-color:#dd0000;

//font
$font-regular:'Roboto-Regular';
$font-thin:'Roboto-Thin';
$font-medium:'Roboto-Medium';
$font-bold:'Roboto-Bold';

