.main-order {
    .container {
        border-bottom: 2px solid #1b7fd0;
        .navbar {
            background: #caddea;
            padding: 0;
            .navbar-brand {
                padding: 0;
                span {
                    display: block;
                    height: 100%;
                    background-color: #075da2;
                    color: #ffffff;
                    font-family: $font-regular;
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0 15px;
                    text-transform: none;
                }
                @media (max-width:768px){
                    span{
                        background: none;
                        color: #075da2;
                        padding: 0;
                    }
                }
            }

            .navbar-nav {
                display: flex;
                padding-left: 75px;
                @media (max-width:1200px) {
                        padding-left: 0;
                }
                
                li {
                    width: 100%;
                    position: relative;
                }

                a,
                span {
                    color: #075da2;
                    font-family: $font-bold;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 3px 15px;
                    white-space: nowrap;
                }

                span {
                    padding: 0;
                    position: absolute;
                    top: -10px;
                    right: -5px;
                }

                a:hover {
                    background-color: #075da2;
                    color: #ffffff;
                }

                li:hover span {
                    display: none;
                }
                @media (max-width:1200px) {
                    a {
                        padding: 3px 10px;
                    }
                }
                @media (max-width:992px) {
                   padding-left: 10px;
                    a{
                        padding: 5px;
                        font-size: 16px;
                    }
                    span {
                        font-size: 15px;
                        top: -12px;
                        right: -3px;
                    }
                }
               
            }
           
           

            
            @media (max-width:992px) {
                flex-wrap: nowrap;
                margin-left: 0;
            }
            @media (max-width:768px) {
                flex-wrap: wrap;
                background: none;
                border: none;
            }
            
            
        }


        .velcom {
            padding: 15.5px 0;
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                li {

                    span,
                    a {
                        color: #013056;
                        font-family: $font-narrow-bold;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 25px;
                        text-transform: none;
                    }

                    a {
                        font-family: $font-narrow;
                        font-weight: 400;
                    }
                }

                li:nth-of-type(2) a,
                li:nth-of-type(3) a,
                li:nth-of-type(5) a {
                    color: #1b7fd0;
                }

                li:nth-of-type(5) a {
                    font-family: $font-narrow-bold;
                    font-weight: 700;
                }
            }

            @media (max-width:1200px) {
                ul li span {
                    font-size: 18px;
                }
               

                @media (max-width:992px) {
                    ul li span {
                        font-size: 20px;
                    }

                    ul {
                        flex-wrap: wrap;
                        justify-content: start;
                    }

                    li {
                        padding-right: 30px;
                    }

                }
            }
        }
      .navbar-mobil{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          position: relative;
          background: #caddea;
          padding: 0 15px;
          a{
            color: #075da2;
            font-family: $font-bold;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
          }
        #menu-burger{
            opacity: 0;
        }
        .menu-btn{
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 1;
            span{
                display: block;
                width: 35px;
                height: 5px;
                position: relative;
                background-color: #075da2;
            }
            span::after{
                content: '';
                position: absolute;
                display: block;
                width: 35px;
                height: 5px;
                background-color: #075da2;
                top: 10px;
            }
            span::before{
                content: '';
                position: absolute;
                display: block;
                width: 35px;
                height: 5px;
                background-color: #075da2;
                top: -10px;
            }
        }
        .navbar-burger {
            display: block;
            position: absolute;
            visibility: hidden;
            top: 0;
            right: -100% ;
            width: 100%;
            height: 100%;
        }
        .menu-nav {
            display: block;
            padding: 12px 24px;
            background-color: white;
        }
        #menu-burger:checked ~ .menu-btn > span {
            transform: rotate(45deg);
          }
          #menu-burger:checked ~ .menu-btn > span::before {
            top: 0;
            transform: rotate(0);
          }
          #menu-burger:checked ~ .menu-btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #menu-burger:checked ~ .menu-btn ~ .navbar-burger {
            visibility: visible;
            right: 0;
          }
         .menu-btn>span,.menu-btn>span::before, .menu-btn>span::after {
            transition-duration: .3s;    
         } 
         .navbar-burger{
            transition:all ease  .2s;  
         }
         .menu-nav {
            transition-duration: .3s;
          }
      }
      @media (max-width:768px){
          border: none;
          padding: 19px 0;
      }
      @media (max-width:992px){
        padding: 19px 0;
    }
        
    }
    @media (max-width:1200px) {
        .container>div:nth-of-type(2) {
            margin: 0;
        }
}
}