@import "modules/header/header";
@import "modules/banner/banner";
@import "modules/footer/footer";
@import "modules/price/price.scss";
@import "modules/section-1/section-1.scss";
@import "modules/section-2/section-2.scss";
@import "modules/section-3/section-3.scss";