.price{
    background: $primary-2;
    .container{
        .triangle-container {
            filter: drop-shadow(2px 4px 7px rgba(2, 68, 121, 0.75));
            padding: 0;
            padding-right: 55px;
            padding: 25px 0;

            h2 {
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: $primary-3;
                font-family: $font-bold;
                font-size: 28px;
                font-weight: 700;
                line-height: 36px;
                text-transform: uppercase;
                background-color: $primary-4;
                p {
                    color: $primary-3;
                    font-family: $font-regular;
                    font-size: 18px;
                    line-height: 15px;
                    text-transform: uppercase;
                    background-color: $primary-4;
                    display: inline-block;
                    span:nth-of-type(1) {
                        color: $order-color;
                        font-family: $font-regular;
                        font-size: 34px;
                        font-weight: 700;
                    }
                    span:nth-of-type(2) {
                        color: $order-color;
                        font-family: $font-regular;
                        font-size: 26px;
                    }
                }
            }
    
            div {
                width: 0;
                height: 0;
                border-top: 30px solid $primary-4;
                border-right: 30px solid transparent;
                margin: 0;
            }
        }

        .contacts{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 100px;
            grid-row-gap: 55px;
            div{
                input{
                    width: 100%;
                    height: 35px;
                    margin-top: 10px;
                }
                p{
                    color: #ffffff;
                    font-family: $font-regular;
                    font-size: 16px;
                    line-height: 24.9px;
                    text-transform: uppercase;
                }
                
            }
        }
        .triangle-container-2 {
            filter: drop-shadow(2px 4px 7px rgba(2, 68, 121, 0.75));
            padding: 0;
            padding-right: 55px;
            padding: 25px 15px;

            h2 {
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: $base-light;
                font-family: $font-regular;
                font-size: 18px;
                font-weight: 400;
                line-height: 36px;
                text-transform: uppercase;
                background-color: $order-color;
                p {
                    color: $primary-3;
                    font-family: $font-regular;
                    font-size: 18px;
                    line-height: 15px;
                    text-transform: uppercase;
                    background-color: $primary-4;
                    display: inline-block;
                    span:nth-of-type(1) {
                        color: $order-color;
                        font-family: $font-regular;
                        font-size: 34px;
                        font-weight: 700;
                    }
                    span:nth-of-type(2) {
                        color: $order-color;
                        font-family: $font-regular;
                        font-size: 26px;
                    }
                }
            }
            div {
                width: 0;
                height: 0;
                border-top: 10px solid $order-color;
                border-right: 20px solid transparent;
                margin: 0;
            }
        }  
    }
}